.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/gradle.xml
.idea/misc.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/ktlint-plugin.xml
.idea/libraries/
.idea/artifacts
.idea/modules
.idea/git_*.xml
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VisualStudioCode ###
.vscode/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Mac OS ###
.DS_Store

### Direnv + Nix ###
.direnv

### Kotlin Native ###
.kotlin/

### Smart Home ###
smart-home/

## ENV ##
.env
