name: Build and Publish Docker Image

on:
  workflow_dispatch:
  release:
    types: [published]

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64/v8
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/fama:${{ github.ref_name }}
          build-args: |
            SUPPORT_URL=${{ vars.SUPPORT_URL }}
            RABBIT_MQ_STOMP_URL=${{ vars.RABBIT_MQ_STOMP_URL }}
            RABBIT_MQ_STOMP_USERNAME=${{ vars.RABBIT_MQ_STOMP_USERNAME }}
            RABBIT_MQ_STOMP_PASSWORD=${{ secrets.RABBIT_MQ_STOMP_PASSWORD }}
